@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "daisyui/dist/full.css";

@font-face {
	font-family: "Aldrich";
	font-weight: 400;
	font-size: 13px;
	src: url("../fonts/aldrich/Aldrich-Regular.ttf");
}

@font-face {
	font-family: "Stardustzone";
	font-weight: 400;
	font-size: 13px;
	src: url("../fonts/starzone/Starzone.ttf");
}

.Starzone {
  font-family: "Stardustzone";
  
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	/* --clr-light: #fdffc4;
  --clr-dark: #00332a;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;

  --foreground: var(--clr-light);
  --background: var(--clr-dark); */

	--clr-light: #fff;
	--clr-dark: #000;
	--clr-primary: #202302;
	--clr-secondary: #00100d;
	--clr-accent: #ff7750;

	--foreground: var(--clr-light);
	--background: var(--clr-dark);

	--ff-title: "Stardustzone";
	--ff-body: "Aldrich";
}

.darkmode {
	--clr-light: #fdffc4;
	--clr-dark: #00332a;
	--clr-primary: #202302;
	--clr-secondary: #00100d;
	--clr-accent: #ff7750;

	--foreground: var(--clr-light);
	--background: var(--clr-dark);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--ff-body) !important;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ff-title);
}
nav {
	@apply px-4 sm:px-6 lg:px-8;
}
.container {
	min-height: calc(100vh - 64px);
}

svg.active:hover {
	fill: "white";
}

.primaryBg {
	background: linear-gradient(114.31deg, #ff7246 0.05%, #f8a932 89.74%);
}

.avatarCardBg {
	background-image: url("../images/backgrounds/AvatarCard.png");
	background-repeat: no-repeat;
	width: 266px;
	height: 403px;
}
.avatarCardBg:hover {
	background-image: url("../images/backgrounds/cardshover.png");
	background-repeat: no-repeat;
}
.bgMonthPass {
	background-image: url("../images/backgrounds/bgmonth.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.bgMonthPassSmall {
	background-image: url("../images/backgrounds/bgmonthsmall1.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.bgMonthPasstwo {
	background-image: url("../images/backgrounds/bgmonthtwo.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.bgMonthPassSmalltwo {
	background-image: url("../images/backgrounds/bgmonthsamlltwo.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.buttonbggradian {
	background: linear-gradient(114.31deg, #ff7246 0.05%, #f8a932 89.74%);
}
.smallCard {
	background-image: url("../images/backgrounds/smallCard.png");
	background-repeat: no-repeat;
	width: 269px;
	height: 295px;
}

.smallCard:hover {
	background-image: url("../images/backgrounds/smallcardhover.png");
	background-repeat: no-repeat;
}
.loggedBg {
	background-image: url("../images/backgrounds/loggedBg.png");
	backdrop-filter: blur(6.5px);
	width: 215px;
	background-repeat: no-repeat;
	height: 140px;
	position: absolute;
	top: 60px;
	right: 0px;
	/* margin-top: 30px;
    transition: 'margin-top 1s'; */
  }
  .rightUpperLogged {
    background-image: url('../images/backgrounds/rightUpper.png');
    position: relative;
    width: 47px;
    height: 49px;
    top: -16px;
    left: 137px;
    background-repeat: no-repeat;
  }
  
  .leftUpperLogged {
    background-image: url('../images/backgrounds/leftUpper.png');
    position: relative;
    width: 47px;
    height: 49px;
    top: -16px;
    left: -16px;
    background-repeat: no-repeat;
  }
  
  .rightBottomLogged {
    background-image: url('../images/backgrounds/rightBottom.png');
    position: relative;
    width: 47px;
    height: 49px;
    top: -31px;
    left: 137px;
    background-repeat: no-repeat;
  }
  
  .leftBottomLogged {
    background-image: url('../images/backgrounds/leftBottom.png');
    position: relative;
    width: 47px;
    height: 49px;
    top: -31px;
    left: -16px;
    background-repeat: no-repeat;
  }
  .logoutBg {
    background: linear-gradient(92.93deg, #931212 0.4%, #DC3C3C 91.28%);
  }
/* signup */
.rotateLogo {
    animation: rotation 7s linear infinite;
  }
  
  @keyframes rotation {
    from {
      transform: rotateY(0deg);
    }
  
    to {
      transform: rotateY(359deg);
    }
  }
  .glow {
    text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.25),
                  0px 0px 8px rgba(255, 255, 255, 0.25),
                  0px 0px 7px #FFFFFF;
    /* filter: drop-shadow(0px 0px 6px rgb(255, 255, 255, 0.25)) drop-shadow(0px 2px 0px rgb(255, 255, 255, 0.25)) drop-shadow(2px 0px 0px rgb(255, 255, 255, 0.25)) drop-shadow(-2px 0px 0px rgb(255, 255, 255, 0.25)); */
  }
  
  .signupBg {
    background: rgb(243 186 47 / 15%);
    width: 143px;
    height: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .signupLeft {
    background-image: url('../images/icon/signupLeft.png');
    width: 24px;
    height: 41px;
    position: relative;
  }  
  .signupRight {
    background-image: url('../images/icon/signupRight.png');
    width: 24px;
    height: 41px;
    position: relative;
  }
  
  .sidebarHover {
    background-image: url('../images/icon/sidebarHover.png');
    background-repeat: no-repeat;
    height: 57px;
    position: relative;
    left: -24px;
    padding-left: 44px;
  }
  
  .whitepagerBg {
    background: linear-gradient(114.31deg, #FF7246 0.05%, #F8A932 89.74%);
  }
  
  .launchpadBg {
    background: #393939;
    border-radius: 14px !important;
  }
  
  .launchpadBg:hover {
   /*  background: linear-gradient(114.31deg, #FF7246 0.05%, #F8A932 89.74%); */
   border: 2px solid transparent; /* Set a solid transparent border */
   border-image: linear-gradient(99.36deg, #FF7246 14.1%, #F8A932 99.95%);/* Apply a linear gradient as the border image */
   border-image-slice: 1; /* Ensure the entire border is filled with the gradient */
   border-radius: 14px !important;
  }
  /* end here */
  
.signupBgOne {
    background-image: url("../images/backgrounds/signup\ card.png");
    background-repeat: no-repeat;
  }
  
  .inputDiv {
    position: relative;
    
  }
  
  .inputDiv .inputBg { 
    background-image: url('../images/inputBg.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 9px;
    position: relative;
  /*   top: -10px; */
  }
  .inputDiv .inputBgOne { 
    background-image: url('../images/linenews.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 9px;
    position: relative;
    top: -4px;
  }
  
  .labelFloat {
    color: white;
    font-size: 16px;
    position: absolute;
    pointer-events: none;
    top: 0px;
  }
  .labelFloatOne {
    color: white;
    font-size: 16px;
    position: absolute;
    pointer-events: none;
    top: -10px;
  }
  
  .inputDiv input:focus~.inputBg,
  inputDiv input:not(:focus):valid~.inputBg {
    
    background-image: url('../images/inputBgFocused.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 9px;
    position: relative;
    /* top: -10px; */
  }
  
  .inputDiv input:focus~.labelFloat,
  .inputDiv input:not(:focus):valid~.labelFloat {
    font-size: 12px;
    position: absolute;
    pointer-events: none;
    top: -18px;
    transition: 0.2s ease all;
    color: #8B8B8B;
  }
  
  .walletDiscordSignup {
    background-image: url("../images/backgrounds/commoncard.png");
    background-repeat: no-repeat;
  }
  
  
  .sbutton {
    background: rgb(243 186 47 / 15%);
    width: 100%;
    height: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  
  .signupBack {
    background: #BCBCBD;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color : transparent;
  }
  
  .signupBack:hover {
    background: linear-gradient(114.31deg, #FF7246 0.05%, #F8A932 89.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color : transparent;
  }
  
  .signupBack * {
    color: #BCBCBD; 
  }
  .signupBack:hover * {
    color: #FF7246;
  }
  
  .signupBgImage {
    background-image: url('../images/backgrounds/signupBg2.png');
    background-repeat: no-repeat;
   
  }
  .loginBgImage {
    background-image: url('../images/backgrounds/loginBg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .launchSelectTab {
    /*  background: linear-gradient(114.31deg, #FF7246 0.05%, #F8A932 89.74%); */
    border: 2px solid  #FF7246 ; 
  /*   border-image: linear-gradient(99.36deg, #FF7246 14.1%, #F8A932 99.95%);
    border-image-slice: 1;  */
    border-radius: 14px !important;
   }
  .launchSelectTabTwo {
    border: 2px solid #272728;
    border-radius: 14px !important;
   }
   .loginBg {
    background-image: url("../images/backgrounds/login\ card.png");
    background-repeat: no-repeat;
    }
    .navBorder {
	background: #161617;
}
.navBorder:hover {
	background: linear-gradient(to right, #ff7246, #f8a932);
}
.navBorderActive {
	background: linear-gradient(to right, #ff7246, #f8a932);
}
